<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" routerLink="/home" routerLinkActive="active">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/add-recipe" routerLinkActive="active">Add recipe</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/search" routerLinkActive="active">Search</a>
            </li>
        </ul>
    </div>
</nav>