<label for="title" class="sr-only">Title</label>
<input id="title" [(ngModel)]="title "type="text" class="form-control"/>

<div class = "card">
    <div *ngIf="showIngredient" class = "card-header">
        <table class="table table-sm">
            <thead>
                <tr>
                    <th scope="col">Ingredients</th>
                    <th scope="col">Amount</th>
                    <th scope="col">Unit</th>
                    <th scope="col">Remove</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let ingredient of arrayIngredient">
                    <td>{{ingredient.ingredient}}</td>
                    <td>{{ingredient.amount}}</td>
                    <td>{{ingredient.unity}}</td>
                    <td><span class="oi oi-x" (click)="removeIngredient($event)"></span></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class = "card-body">
        <div class="form-inline">
            <div class="form-group mx-sm-3">
                <input id="ingredient" [(ngModel)]="ingredient "type="text" class="form-control"/>
            </div>
            <div class="form-group mx-sm-3">
                    <input id="amount" type="text" class="form-control" [(ngModel)]="amount"/>
            </div>
            <div class="form-group mx-sm-3">
                <select [(ngModel)]="selectedValue">
                    <option *ngFor="let unity of arrayUnity" [value]="unity">{{unity}}</option>
                </select>
            </div>
            <div class="form-group mx-sm-3">
                <button type="button" class="btn btn-success" (click)="addIngredient()">Add ingredient</button>
            </div>  
        </div>
    </div>
</div>

<div class = "card">
        <div *ngIf="showStep" class = "card-header">
            <table class="table table-sm">
                <tr *ngFor="let step of arrayStep; let i=index">
                    <td class = "col-sm-7">
                        step {{i+1}} :<br/>
                        {{step.text}} 
                    </td>
                    <td class="col-sm-2"><span class="oi oi-pencil" (click)="updateStep($event)"></span></td>
                    <td class="col-sm-2"><span class="oi oi-x" (click)="removeStep($event)"></span></td>
                </tr>
            </table>
        </div>
        <div class = "card-body">
            <div>
                <div class="form-group">
                    <textarea id="textarea" class="form-control" [(ngModel)]="step" rows="5" col="12"></textarea>
                    
                </div>
                <div class="form-group mx-sm-3">
                    <button type="button" class="btn btn-success" (click)="addStep()">Add step</button>
                </div>  
            </div>
        </div>
    </div>

    <div class = "card">
        <div *ngIf="showAccompaniments" class = "card-header">
            <span *ngFor="let accompaniments of arrayAccompaniments" class="badge badge-light">{{accompaniments}}</span>
        </div>
        <div class = "card-body">
                <div class="form-inline">
                    <div class="form-group mx-sm-3">
                        <input id="accompaniments" [(ngModel)]="accompaniments "type="text" class="form-control"/>
                    </div>
                <div class="form-group mx-sm-3">
                    <button type="button" class="btn btn-success" (click)="addAccompaniments()">Add step</button>
                </div>  
            </div>
        </div>
    </div>

    <button type="button" class="btn btn-success" (click)="addRecipe()">Add recipe</button>