<label for="typeahead-config">ingrédient principal:</label>
<input id="typeahead-config" type="text" class="form-control" [(ngModel)]="model" [ngbTypeahead]="search" />
<button type="button" class="btn btn-primary" (click)="onsubmit(model)">click me</button>